# Project exclude paths
/.gradle/
/*.iml/
/.idea/workspace.xml/
/.idea/tasks.xml/
/.idea/gradle.xml/
/.idea/assetWizardSettings.xml/
/.idea/dictionaries/
/.idea/libraries/
/.idea/caches/
/.idea/modules.xml/
/.idea/navEditor.xml/

/androidApp/build/
/androidApp/build/intermediates/javac/debug/classes/
/build/
/jsApp/build/
/jsApp/build/classes/kotlin/main/
/shared/build/
/shared/build/classes/kotlin/js/main/
/local.properties/
/vcs.xml/

/lint/intermediates/
/lint/generated/
/lint/outputs/
/lint/tmp/

